<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.w3.org/1999/xhtml">

<header>
    <nav>
        <ul>
            <a th:href="@{/}"><img class="logo" th:src="@{/images/logo.png}"/></a>
            <div class="nav-links">
                <a th:href="@{/}"><li th:classappend="${currentPage=='home' ? 'bold':''}">Home</li></a>
                <a th:href="@{/submit}"><li th:classappend="${currentPage=='submit' ? 'bold':''}">Submit</li></a>
                <a th:href="@{/dashboard}"><li th:classappend="${currentPage=='dashboard' ? 'bold':''}">Dashboard</li></a>
            </div>
        </ul>
    </nav>
</header>

</html>